In [63]:
from pathlib import Path
import csv
import pandas as pd

In [77]:
# Read in data
budget_data_path = Path('budget_data.csv')
budget_data = pd.read_csv(budget_data_path, infer_datetime_format=True, parse_dates=True)
budget_data.head()

/var/folders/kx/wzp_9yjs5nx2vykxbvzggv980000gn/T/ipykernel_26340/4178816432.py:3: FutureWarning: The argument 'infer_datetime_format' is deprecated and will be removed in a future version. A strict version of it is now the default, see https://pandas.pydata.org/pdeps/0004-consistent-to-datetime-parsing.html. You can safely remove this argument.
  budget_data = pd.read_csv(budget_data_path, infer_datetime_format=True, parse_dates=True)

       Date  Profit/Losses
0  Jan-2010         867884
1  Feb-2010         984655
2  Mar-2010         322013
3  Apr-2010         -69417
4  May-2010         310503

In [65]:
#budget_data = budget_data.drop(columns=['Date'])

#budget_data

In [66]:
# Calculate total number of months
total_months = budget_data.index.value_counts().sum()
total_months

86

In [67]:
# Calculate net total amount of Profit/Losses
total_profit_loss = budget_data['Profit/Losses'].sum()
total_profit_loss

38382578

In [68]:
# Adding change column to dataframe
budget_data_change = budget_data['Profit/Losses'].diff()

budget_data['Change'] = budget_data_change

budget_data

        Date  Profit/Losses    Change
0   Jan-2010         867884       NaN
1   Feb-2010         984655  116771.0
2   Mar-2010         322013 -662642.0
3   Apr-2010         -69417 -391430.0
4   May-2010         310503  379920.0
..       ...            ...       ...
81  Oct-2016         102685 -665765.0
82  Nov-2016         795914  693229.0
83  Dec-2016          60988 -734926.0
84  Jan-2017         138230   77242.0
85  Feb-2017         671099  532869.0

[86 rows x 3 columns]

In [69]:
#Calculate average of the changes in Profit/Losses
budget_data_change = budget_data['Profit/Losses'].diff()

average_change = budget_data_change.mean()

average_change

-2315.1176470588234

In [70]:
# Calculate the greatest increase in profits
budget_data_change = budget_data['Profit/Losses'].diff()

budget_data_max = budget_data_change.max()

budget_data_max = int(budget_data_max)

budget_data_max

1926159

In [75]:
# Finding the date of the greatest increase
budget_data_max_date = budget_data.loc[budget_data['Change'] == 1926159]

budget_data_max_date = budget_data_max_date['Date']
                                 
budget_data_max_date.iloc[0]

'Feb-2012'

In [72]:
# Calculate the greatest decrease in losses
budget_data_change = budget_data['Profit/Losses'].diff()

budget_data_min = budget_data_change.min()

budget_data_min = int(budget_data_min)

budget_data_min

-2196167

In [76]:
# Finding the date of the greatest decrease
budget_data_min_date = budget_data.loc[budget_data['Change'] == -2196167]

budget_data_min_date = budget_data_min_date['Date']

budget_data_min_date.iloc[0]

'Sep-2013'

In [80]:
# Financial Analysis
print('Financial Analysis')
print('______________________')
print(f'Total Months:', total_months)
print(f'Total: ${total_profit_loss}')
print(f'Average Change: ${average_change:.2f}')
print(f'Greatest Increase in Profits: {budget_data_max_date.iloc[0]} (${budget_data_max})')
print(f'Greatest Decrease in Profits: {budget_data_max_date.iloc[0]} (${budget_data_min})')

Financial Analysis
______________________
Total Months: 86
Total: $38382578
Average Change: $-2315.12
Greatest Increase in Profits: Feb-2012 ($1926159)
Greatest Decrease in Profits: Feb-2012 ($-2196167)